---
import Layout from '../layouts/Layout.astro'
---

<script>
  window.location.replace('/register/one')
</script>

<Layout title='Welcome to Astro.'>
  <main class='text-center'>
    <h1>Hello from the other side</h1>
  </main>
</Layout>
